
a {
  text-decoration: none;
}
.full-expand {
  height: 100%;
  width: 100%;
}

.select-customer:hover {
  cursor: pointer;
  background-color: aliceblue;
}
.icon-hover:hover{
  cursor: pointer;

}

.baskerville-font{
    font-family: 'Libre Baskerville', serif;
  }
  
  
  body {
    margin-top: 70px;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
    max-width: 30rem;
  }
  
  .card-img-top {
    max-width: 30rem;
  }
  
  .img-container{
    border:1px solid rgba(59, 0, 65, 0.637);
    border-radius: 5px;
    overflow: hidden;
  }
  
  
  .dot-thirty{
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .comments-background {
  
   border-bottom: .5px solid rgba(230, 220, 220, 0.445);
   
  }
  
  .form-background{
      background-color: rgba(207, 189, 255, 0.548);
      /* background-color: rgba(19, 18, 18, 0.548); */
      padding: 10px;
      border-radius: 4px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  }
  
  
  .form-small {
    max-width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
  


  
  /* bootstrap overrides for buttons */
  .btn-logo {
    border: 2px solid rgb(68, 6, 104);
    color: white;
    background-color: rgb(68, 6, 104);
    box-shadow: 5px 8px 8px -5px #000000;
  }
  
  .btn-logo:hover {
    border: 2px solid rgb(88, 9, 134);
    color: rgb(218, 218, 218);
    background-color:rgb(88, 9, 134);
    box-shadow:5px 8px 8px -8px #000000;
  }
  
  
  .btn-silver {
    border: 2px solid rgb(135, 130, 138);
    color: white;
    background-color: rgb(135, 130, 138);
    box-shadow: 5px 8px 8px -5px #000000;
  }
  
  .btn-silver:hover {
    border: 2px solid rgb(118, 116, 119);
    color: rgb(255, 255, 255);
    background-color:rgb(118, 116, 119);
    box-shadow:5px 8px 8px -8px #000000;
  }

.btn-stop {
  border: 2px solid rgb(168, 8, 8);
  color: white;
  background-color: rgb(168, 8, 8);
  box-shadow: 5px 8px 8px -5px #000000;
}

.btn-stop:hover {
  border: 2px solid rgb(146, 9, 9);
  color: rgb(255, 255, 255);
  background-color:rgb(146, 9, 9);
  box-shadow:5px 8px 8px -8px #000000;
}


.frontend-link {
    color:gray;
    text-decoration: none;
    font-size:medium;
  }

.frontend-link:hover {
    color: indigo;
    text-decoration: none;
    cursor: pointer;
    font-size:medium;
    text-decoration:underline;
  }

.tabs-link {
  color:rgb(130, 7, 179);
  text-decoration: none;
  font-size:medium;
}

.tabs-link:hover{
  color:rgb(157, 0, 219);
  cursor: pointer;
  font-size:medium;
  text-decoration:underline;
}

