{% extends "tabicrm/layout.html" %}
<!-- Weird that I had to do this here, it doesn't seem to inherit from the layout? -->
{% load static %}
{% load humanize %}
{% block body %}



<div class="container">
    <div class="form-background mb-5">
        <h2 class=" baskerville-font text-center">Add a license</h2>
        <hr>
        <form action="{% url 'add_license' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="mb-3">
                        <label for="product" class="form-label">Product</label>
                        {{form.product}}
                    </div>
                    <div class="mb-3">
                        <label for="customer" class="form-label">Customer</label>
                        {{form.customer}}
                    </div>

                    <div class="mb-3">
                        <label for="purchase_date" class="form-label">Purchase Date</label>
                        {{form.purchase_date}}
                    </div>
                    <div class="mb-3">
                        <label for="expiration_date" class="form-label">Expiration Date</label>
                        {{form.expiration_date}}
                    </div>
                    <div class="mb-3">
                        <label for="end_of_life" class="form-label">End of Life</label>
                        {{form.end_of_life}}
                    </div>

                </div>
                <div class="col-12 col-lg-6">

                    <div class="mb-3">
                        <label for="license_key" class="form-label">License Key</label>
                        {{form.license_key}}
                    </div>
                    <h4 class="text-center mt-5 mb-4">or</h4>
                    <div class="mb-3">
                        <label for="license_file" class="form-label">License File</label>
                        {{form.license_file}}
                    </div>
                    <div class="mb-3">
                        <label for="notes" class="form-label mt-4">Notes</label>
                        {{form.notes}}
                    </div>
                </div>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-logo">Add License</button>
            </div>



        </form>
    </div>

</div>



{% endblock %}