{% extends "tabicrm/layout.html" %}
<!-- Weird that I had to do this here, it doesn't seem to inherit from the layout? -->
{% load static %}
{% load humanize %}

{% block body %}

<!-- Modal to toggle for viewing and editing client content -->
<div id="clientDetails" class="modal fade static" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="clientDetailsTitle"></h5>
                <div id="customer-feedback-data" class="ms-3 d-md-block"></div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="reloadContent()"></button>
            </div>


            <div class="modal-body">
                <div id="contactsEditContent"></div>
                <div id="licensesEditContent"></div>
                <div id="quickOpenTicketContent"></div>


                <div id="clientDetailsRoot"></div>
                <div id="contactsDetailsRoot"></div>
                <div id="licensesDetailsRoot"></div>
                <div id="equipmentDetailsRoot"></div>
                <div id="newTicketFormContainer" class="newTicketForm" style="display: none;">
                    <div id="newTicketFormDetails">
                        {% csrf_token %}
                        <div class="row">
                            <!-- COLUMN 1 -->
                            <div class="col-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="assigned_to" class="form-label">Assigned To:</label>
                                    {{newTicketForm.assigned_to}}
                                </div>
                                <div class="mb-3">
                                    <label for="status" class="form-label">Status</label>
                                    {{newTicketForm.status}}
                                </div>
                                <div class="mb-3">
                                    <label for="priority" class="form-label">Priority</label>
                                    {{newTicketForm.priority}}
                                </div>
                                <div class="mb-3">
                                    <label for="sesults" class="form-label">Results</label>
                                    {{newTicketForm.results}}
                                </div>

                            </div>
                            <!-- COLUMN 2 -->
                            <div class="col-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Title</label>
                                    {{newTicketForm.title}}
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Description</label>
                                    {{newTicketForm.description}}
                                </div>
                                <div class="mb-3">
                                    <label for="solution" class="form-label">Solution</label>
                                    {{newTicketForm.solution}}
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-logo">Add Ticket</button>
                        </div>
                    </div>

                </div>
            </div>


        </div>


    </div>
</div>
</div>

<div class="container-fluid">
    <table class="table table-striped table-responsive" id="customersTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Primary Phone</th>
                <th scope="col">Secondary Phone</th>
                <th scope="col">Fax</th>
                <th scope="col">Website</th>
                <th scope="col">Billing City</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr class="select-customer" id="{{customer.id}}" onclick="viewCustomer('{{customer.id}}')">
                <th scope=" row">{{customer.id}}</th>
                <td>{{customer.name}}</td>
                <td>{{customer.primary_phone}}</td>
                <td>{{customer.secondary_phone}}</td>
                <td>{{customer.fax}}</td>
                <td>{{customer.website}}</td>
                <td>{{customer.billing_address_city}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>








{% endblock %}