{% extends "tabicrm/layout.html" %}
<!-- Weird that I had to do this here, it doesn't seem to inherit from the layout? -->
{% load static %}
{% load humanize %}
{% block body %}


<div id="addContactModal" class="modal fade static" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" class=" baskerville-font text-center">Add a contact for: {{customer.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <div class="form-background mb-5">
                    <form action="{% url 'add_contact' customer.id %}" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="name" class="form-label">First Name</label>
                                    {{newContactForm.first_name}}
                                </div>
                                <div class="mb-3">
                                    <label for="primary_phone" class="form-label">Last Name</label>
                                    {{newContactForm.last_name}}
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="secondary_phone" class="form-label">Job Title</label>
                                    {{newContactForm.job_title}}
                                </div>
                                <div class="mb-3">
                                    <label for="fax" class="form-label">Extension</label>
                                    {{newContactForm.extension}}
                                </div>
                                <div class="mb-3">
                                    <label for="website" class="form-label">Notes</label>
                                    {{newContactForm.notes}}
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-logo">Add Contact</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addLicenseModal" class="modal fade static" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" class=" baskerville-font text-center">Add a license for: {{customer.name}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <div class="form-background mb-5">
                    <form action="{% url 'add_license' customer.id%}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="product" class="form-label">Product</label>
                                    {{newLicenseForm.product}}
                                </div>
                                <div class="mb-3">
                                    <label for="purchase_date" class="form-label">Purchase Date</label>
                                    {{newLicenseForm.purchase_date}}
                                </div>
                                <div class="mb-3">
                                    <label for="expiration_date" class="form-label">Expiration Date</label>
                                    {{newLicenseForm.expiration_date}}
                                </div>
                                <div class="mb-3">
                                    <label for="end_of_life" class="form-label">End of Life</label>
                                    {{newLicenseForm.end_of_life}}
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-3">
                                    <label for="license_key" class="form-label">License Key</label>
                                    {{newLicenseForm.license_key}}
                                </div>
                                <div class="mb-3">
                                    <label for="license_file" class="form-label">License File</label>
                                    {{newLicenseForm.license_file}}
                                </div>
                                <div class="mb-3">
                                    <label for="notes" class="form-label">Notes</label>
                                    {{newLicenseForm.notes}}
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-logo">Add License</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal to verify deletion -->
<div class="modal fade" tabindex="-1" id="confirmDelete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'delete_customer' customer.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="delete" value="True">
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete {{customer.name}}?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-stop">Confirm</button>
                    <button type="button" class="btn btn-silver" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>








<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="customer-tab" data-bs-toggle="tab" data-bs-target="#customer" type="button" role="tab" aria-controls="customer" aria-selected="true">Customer</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contacts-tab" data-bs-toggle="tab" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="licenses-tab" data-bs-toggle="tab" data-bs-target="#licenses" type="button" role="tab" aria-controls="licenses" aria-selected="false">Licenses</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="equipment-tab" data-bs-toggle="tab" data-bs-target="#equipment" type="button" role="tab" aria-controls="equipment" aria-selected="false">Equipment</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="tickets-tab" data-bs-toggle="tab" data-bs-target="#tickets" type="button" role="tab" aria-controls="tickets" aria-selected="false">Tickets</button>
    </li>
</ul>


<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="customer" role="tabpanel" aria-labelledby="customer-tab">
        <div class="container mt-2">
            <div class="form-background mb-5">
                <h2 class=" baskerville-font text-center">{{customer_name}}</h2>
                <div class="text-center">
                    <button onclick="showNewContactFormModal()" class="btn btn-sm btn-silver">Add Contact</button>
                    <button onclick="showNewLicenseFormModal()" class="btn btn-sm btn-silver">Add License</button>
                    <button onclick="showNewEquipmentFormModal()" class="btn btn-sm btn-silver">Add Equipment</button>
                    <a class="btn btn-sm btn-silver">Add Ticket</a>
                </div>

                <hr>
                <form action="{% url 'customer_full_form' customer.id %}" method="POST">
                    {% csrf_token %}

                    <!-- BASIC CUSTOMER INFORMATION -->
                    <h3 class="baskerville-font text-center">Basic information</h3>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Customer Name</label>
                                {{form.name}}
                            </div>
                            <div class="mb-3">
                                <label for="primary_phone" class="form-label">Primary Phone</label>
                                {{form.primary_phone}}
                            </div>
                            <div class="mb-3">
                                <label for="secondary_phone" class="form-label">Secondary Phone</label>
                                {{form.secondary_phone}}
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-3">
                                <label for="fax" class="form-label">Fax</label>
                                {{form.fax}}
                            </div>
                            <div class="mb-3">
                                <label for="website" class="form-label">Website</label>
                                {{form.website}}
                            </div>
                            <div class="mb-3">
                                <label for="website" class="form-label">Notes</label>
                                {{form.notes}}
                            </div>
                        </div>
                    </div>

                    <!-- BILLING ADDRESS INFORMATION -->
                    <h3 class="baskerville-font text-center">Billing Address</h3>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-3">
                                <label for="billing_address_one" class="form-label">Billing Address 1</label>
                                {{form.billing_address_one}}
                            </div>
                            <div class="mb-3">
                                <label for="billing_address_two" class="form-label">Billing Address 2</label>
                                {{form.billing_address_two}}
                            </div>
                            <div class="mb-3">
                                <label for="billing_address_city" class="form-label">City</label>
                                {{form.billing_address_city}}
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-3">
                                <label for="billing_address_state" class="form-label">State</label>
                                {{form.billing_address_state}}
                            </div>
                            <div class="mb-3">
                                <label for="billing_address_zip" class="form-label">Zip</label>
                                {{form.billing_address_zip}}
                            </div>
                            <div class="mb-3">
                                <label for="billing_address_country" class="form-label">Country</label>
                                {{form.billing_address_country}}
                            </div>
                        </div>
                    </div>

                    <!-- SHIPPING ADDRESS INFORMATION -->
                    <h3 class="baskerville-font text-center">Shipping Address</h3>
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-3">
                                <label for="shipping_address_one" class="form-label">Shipping Address 1</label>
                                {{form.shipping_address_one}}
                            </div>
                            <div class="mb-3">
                                <label for="shipping_address_two" class="form-label">Shipping Address 2</label>
                                {{form.shipping_address_two}}
                            </div>
                            <div class="mb-3">
                                <label for="shipping_address_city" class="form-label">City</label>
                                {{form.shipping_address_city}}
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-3">
                                <label for="shipping_address_state" class="form-label">State</label>
                                {{form.shipping_address_state}}
                            </div>
                            <div class="mb-3">
                                <label for="shipping_address_zip" class="form-label">Zip</label>
                                {{form.shipping_address_zip}}
                            </div>
                            <div class="mb-3">
                                <label for="shipping_address_country" class="form-label">Country</label>
                                {{form.shipping_address_country}}
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <button type="button" class="btn btn-stop" onclick="showConfirmDeleteModal()">Delete Customer</button>
                        <span class="float-end">
                            <a href="{% url 'index' %}" class="btn btn-silver">Back to Customers</a>
                            <button type="submit" class="btn btn-logo">Submit Changes</button>
                        </span>
                    </div>
                </form>
            </div>

        </div>




    </div>
    <div class="tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">CONTACTS</div>
    <div class="tab-pane fade" id="licenses" role="tabpanel" aria-labelledby="licenses-tab">LICENSES</div>
    <div class="tab-pane fade" id="equipment" role="tabpanel" aria-labelledby="equipment-tab">EQUIPMENT</div>
    <div class="tab-pane fade" id="tickets" role="tabpanel" aria-labelledby="tickets-tab">TICKETS</div>
</div>









{% endblock %}