{% extends "tabicrm/layout.html" %}
<!-- Weird that I had to do this here, it doesn't seem to inherit from the layout? -->
{% load static %}
{% load humanize %}
{% block body %}



<div class="container">
    <div class="form-background mb-5">
        <h2 class=" baskerville-font text-center">Edit license</h2>
        <hr>
        <form action="{% url 'edit_license' license_id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="mb-3">
                        <label for="product" class="form-label">Product</label>
                        {{form.product}}
                    </div>
                    <div class="mb-3">
                        <label for="customer" class="form-label">Customer</label>
                        {{form.customer}}
                    </div>

                    <div class="mb-3">
                        <label for="purchase_date" class="form-label">Purchase Date</label>
                        {{form.purchase_date}}
                    </div>
                    <div class="mb-3">
                        <label for="expiration_date" class="form-label">Expiration Date</label>
                        {{form.expiration_date}}
                    </div>
                    <div class="mb-3">
                        <label for="end_of_life" class="form-label">End of Life</label>
                        {{form.end_of_life}}
                    </div>

                </div>
                <div class="col-12 col-lg-6">

                    <div class="mb-3">
                        <label for="license_key" class="form-label">License Key</label>
                        {{form.license_key}}
                    </div>
                    <div class="mb-3">
                        <label for="license_file" class="form-label">License File <span class="text-muted">({{license_name}})</span></label>
                        {{form.license_file}}
                    </div>
                    <div class="mb-3">
                        <label for="notes" class="form-label">Notes</label>
                        {{form.notes}}
                    </div>
                </div>
            </div>

            <div class="text-end">
                <a href="{% url 'index' %}" class="btn btn-silver">Back to Clients</a>
                <button type="submit" class="btn btn-logo">Submit Changes</button>
            </div>



        </form>
    </div>

</div>













{% endblock %}