{% extends "tabicrm/layout.html" %}
<!-- Weird that I had to do this here, it doesn't seem to inherit from the layout? -->
{% load static %}
{% load humanize %}
{% block body %}



<!-- Modal to verify deletion -->
<div class="modal fade" tabindex="-1" id="confirmDelete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'delete_license' license_id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="delete" value="True">
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete the license record {{license_id}}?
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-stop">Confirm</button>
                    <button type="button" class="btn btn-silver" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>








<div class="container">
    <div class="form-background mb-5">
        <h2 class=" baskerville-font text-center">Edit license</h2>
        <hr>
        <form action="{% url 'edit_license' license_id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="mb-3">
                        <label for="product" class="form-label">Product</label>
                        {{form.product}}
                    </div>
                    <div class="mb-3">
                        <label for="customer" class="form-label">Customer</label>
                        {{form.customer}}
                    </div>

                    <div class="mb-3">
                        <label for="purchase_date" class="form-label">Purchase Date</label>
                        {{form.purchase_date}}
                    </div>
                    <div class="mb-3">
                        <label for="expiration_date" class="form-label">Expiration Date</label>
                        {{form.expiration_date}}
                    </div>
                    <div class="mb-3">
                        <label for="end_of_life" class="form-label">End of Life</label>
                        {{form.end_of_life}}
                    </div>

                </div>
                <div class="col-12 col-lg-6">

                    <div class="mb-3">
                        <label for="license_key" class="form-label">License Key</label>
                        {{form.license_key}}
                    </div>
                    <div class="mb-3">
                        <label for="license_file" class="form-label">License File
                            <a href="{% url 'download_license' license_id %}" class="frontend-link" download>({{license_name}})</a>


                        </label>
                        {{form.license_file}}
                    </div>
                    <div class="mb-3">
                        <label for="notes" class="form-label">Notes</label>
                        {{form.notes}}
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <button type="button" class="btn btn-stop" onclick="showConfirmDeleteModal()">Delete License</button>
                <span class="float-end">
                    <a href="{% url 'index' %}" class="btn btn-silver">Back to Clients</a>
                    <button type="submit" class="btn btn-logo">Submit Changes</button>
                </span>
            </div>
        </form>
    </div>

</div>




<script src="{% static 'tabicrm/javascript/modals.js' %} "></script>



{% endblock %}