{% extends "tabicrm/layout.html" %}
<!-- Weird that I had to do this here, it doesn't seem to inherit from the layout? -->
{% load static %}
{% load humanize %}
{% block body %}



<div class="container-fluid">
    <!-- BASIC INFORMATION -->
    <h3 class="text-center baskerville-font">Basic Information</h3>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Customer Name: </div>
                <div class="col-10 col-lg-4">${finalData.name} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Primary Phone: </div>
                <div class="col-10 col-lg-4">${finalData.primary_phone} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Secondary Phone: </div>
                <div class="col-10 col-lg-4">${finalData.secondary_phone} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Fax: </div>
                <div class="col-10 col-lg-4">${finalData.fax} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Website: </div>
                <div class="col-10 col-lg-4">${finalData.website} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
        </div>
    </div>

    <!-- BILLING ADDRESS -->
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Billing Address One</div>
                <div class="col-10 col-lg-4">${finalData.billing_address_one} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Billing Address Two </div>
                <div class="col-10 col-lg-4">${finalData.billing_address_two} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Billing Address City </div>
                <div class="col-10 col-lg-4">{finalData.billing_address_city} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>



        </div>
        <div class="col-12 col-lg-6">

            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Billing Address State </div>
                <div class="col-10 col-lg-4">${finalData.billing_address_state} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Billing Address Zip </div>
                <div class="col-10 col-lg-4">${finalData.billing_address_zip} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Billing Address Country </div>
                <div class="col-10 col-lg-4">${finalData.billing_address_country} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>




        </div>
    </div>


    <!-- SHIPPING ADDRESS -->
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Shipping Address One </div>
                <div class="col-10 col-lg-4">${finalData.shipping_address_one} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Shipping Address Two </div>
                <div class="col-10 col-lg-4">${finalData.shipping_address_two} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Shipping Address City </div>
                <div class="col-10 col-lg-4">${finalData.shipping_address_city} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>


        </div>
        <div class="col-12 col-lg-6">
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Shipping Address State </div>
                <div class="col-10 col-lg-4">${finalData.shipping_address_state} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Shipping Address Zip </div>
                <div class="col-10 col-lg-4">${finalData.shipping_address_zip}</div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>
            <div class="row mb-2">
                <div class="col-4 d-none d-lg-block">Shipping Address Country </div>
                <div class="col-10 col-lg-4">${finalData.shipping_address_country} </div>
                <div class="col-2 col-lg-4"><i class="las la-edit"></i></div>
            </div>

        </div>
    </div>
</div>



{% endblock %}