{% extends "tabicrm/layout.html" %}
<!-- Weird that I had to do this here, it doesn't seem to inherit from the layout? -->
{% load static %}
{% load humanize %}

{% block body %}


<div class="container-fluid mt-2">
    {% include 'tabicrm/partials/customer_nav.html' %}

    <div class="mt-5">
        <div class="row">
            <div class="col-12 col-lg-4">
                <p class="text-center"><strong>Ticket Details</strong></p>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ticket.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{customer.name}}</h6>
                        <p class="card-text">
                            <strong>Assigned to:</strong> {{ticket.assigned_to}}<br />
                            <strong>Owned By:</strong> {{ticket.owned_by}}<br />
                            <strong>Status:</strong> {{ticket.status}}<br />
                            <strong>Priority:</strong> {{ticket.priority}}<br />
                            <strong>results:</strong> {{ticket.results}}<br />
                            <strong>Description:</strong> {{ticket.description}}<br />
                            <strong>solution:</strong> {{ticket.solution}}<br />
                        </p>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="text-center mb-2"><strong>Ticket Comments</strong></div>
                    {% if ticketComments %}
                    {% for comment in ticketComments %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <p class="card-text">
                                {{comment.added_by}}<br />
                                {{comment.comment}}<br />
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif%}
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <p class="text-center">Ticket Actions</p>
                <div class="text-center mt-3">
                    {% if not ticket.owned_by == request.user %}
                    <a href="" class="btn btn-logo">Accept Ticket</a>
                    {% endif%}
                    <a href="" class="btn btn-logo">Waiting on Customer</a>
                    <a href="" class="btn btn-logo">Close Ticket</a>
                </div>
                <div class="mt-5">
                    <form action="{% url 'add_ticket_comment' ticket.id %}" method="POST">
                        {% csrf_token %}
                        {{commentForm.comment}}
                        <div class="float-end">
                            <button class="btn btn-sm btn-logo" type="submit">Add comment</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <p class="text-center">Ticket History</p>
                {% for entry in ticketHistory %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text">
                            {{entry.created_on}}<br />
                            {{entry.taken_by}}<br />
                            {{entry.action}}<br />
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>

</div>



{% endblock %}