{% extends "tabicrm/layout.html" %}
<!-- Weird that I had to do this here, it doesn't seem to inherit from the layout? -->
{% load static %}
{% load humanize %}

{% block body %}

<!-- Model for full edit form of the ticket -->

<div id="editTicketModal" class="modal fade static" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" class=" baskerville-font text-center">Edit ticket number TT{{ticket.id}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container">
                    <div class="form-background mb-5">
                        <form action="{% url 'full_edit_ticket' ticket.id %}" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <!-- COLUMN 1 -->
                                <div class="col-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="assigned_to" class="form-label">Assigned To:</label>
                                        {{editTicketForm.assigned_to}}
                                    </div>
                                    <div class="mb-3">
                                        <label for="status" class="form-label">Status</label>
                                        {{editTicketForm.status}}
                                    </div>
                                    <div class="mb-3">
                                        <label for="priority" class="form-label">Priority</label>
                                        {{editTicketForm.priority}}
                                    </div>
                                    <div class="mb-3">
                                        <label for="sesults" class="form-label">Results</label>
                                        {{editTicketForm.results}}
                                    </div>
                                </div>
                                <!-- COLUMN 2 -->
                                <div class="col-12 col-lg-6">
                                    <div class="mb-3">
                                        <label for="title" class="form-label">Title</label>
                                        {{editTicketForm.title}}
                                    </div>
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Description</label>
                                        {{editTicketForm.description}}
                                    </div>
                                    <div class="mb-3">
                                        <label for="solution" class="form-label">Solution</label>
                                        {{editTicketForm.solution}}
                                    </div>
                                </div>
                            </div>
                            <div class="text-end">
                                <button type="submit" class="btn btn-logo">Save Changes</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="ticketHistoryModal" class="modal fade static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" class=" baskerville-font text-center">Ticket History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for entry in ticketHistory %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <p class="card-text">
                            {{entry.created_on}}<br />
                            {{entry.taken_by}}<br />
                            {{entry.action}}<br />
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


<div class="container-fluid mt-2">
    {% include 'tabicrm/partials/customer_nav.html' %}



    <div class="container">
        <div class="form-background mb-5 mt-5">



            <div class="row">
                <!-- TICKET DETAILS COLUMN -->
                <div class="col-12 col-lg-4">
                    <p class="text-center"><strong>Ticket Details</strong></p>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ticket.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{customer.name}}</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Ticket id: TT-{{ticket.id}}</h6>
                            <p class="card-text">
                                <strong>Assigned to:</strong> {{ticket.assigned_to}}<br />
                                <strong>Owned By:</strong> {% if ticket.owned_by%} {{ticket.owned_by}}{% endif %}<br />
                                <strong>Status:</strong> {{ticket.status}}<br />
                                <strong>Priority:</strong> {{ticket.priority}}<br />
                                <strong>Results:</strong> {{ticket.results}}<br />
                                <strong>Description:</strong> {{ticket.description}}<br />
                                <strong>Solution:</strong> {{ticket.solution}}<br />
                            </p>
                        </div>
                    </div>
                </div>


                <!-- TICKET QUICK ACTIONS COLUMN -->
                <div class="col-12 col-lg-4">
                    <p class="text-center mt-2"><strong>Ticket Quick Actions</strong></p>
                    <div class="d-grid gap-2">

                        <!-- IF THE TICKET IS OPEN AND NOT OWNED BY THE USER, ALLOW USER TO YANK THE TICKET -->
                        {% if not ticket.status == 'CLOSED' %}
                        {% if not ticket.owned_by == request.user %}
                        <a href="{% url 'ticket_actions' ticket.id 'accept' %}" class="btn btn-logo ">Accept Ticket</a>
                        {% endif%}
                        {% endif%}

                        <!-- IF THE USER OWNS THE TICKET ALLOW THEM TO CHANGE THE STATUS QUICKLY -->
                        {% if ticket.owned_by == request.user %}

                        {% if not ticket.status == 'CLOSED' %}
                        {% if not ticket.status == "WAITING ON CUSTOMER" %}
                        <a href="{% url 'ticket_actions' ticket.id 'customer' %}" class="btn btn-logo ">Set to "Waiting
                            on Customer"</a>
                        {% endif %}
                        {% endif %}

                        {% if ticket.status == "WAITING ON CUSTOMER" %}
                        <a href="{% url 'ticket_actions' ticket.id 'resume' %}" class="btn btn-logo ">Resume Ticket</a>
                        {% endif%}
                        {% if not ticket.status == 'CLOSED' %}
                        <a href="{% url 'ticket_actions' ticket.id 'close' %}" class="btn btn-logo ">Close Ticket</a>
                        {% endif%}
                        {% endif%}

                        {% if not ticket.status == 'CLOSED' %}
                        <button class="btn btn-logo " onclick="openTicketModal()">Open full edit form</button>
                        {% endif%}
                        <button class="btn btn-logo " onclick="openHistoryModal()">View Ticket history</button>

                        {% if ticket.status == 'CLOSED' %}
                        <a href="{% url 'ticket_actions' ticket.id 'reopen' %}" class="btn btn-logo ">Reopen Ticket</a>
                        {% endif%}



                    </div>
                    {% if not ticket.status == 'CLOSED' %}
                    <div class="mt-4">
                        <form action="{% url 'add_ticket_comment' ticket.id %}" method="POST">
                            {% csrf_token %}
                            {{commentForm.comment}}
                            <div class="float-end">
                                <button class="btn btn-sm btn-logo" type="submit">Add comment</button>
                            </div>
                        </form>
                    </div>
                    {% endif %}


                </div>

                <!-- TICKET COMMENTS COLUMN -->
                <div class="col-12 col-lg-4">
                    <div class="mt-2">
                        <div class="text-center mb-2"><strong>Ticket Comments</strong></div>
                        {% if ticketComments %}
                        {% for comment in ticketComments %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">{{comment.added_by}} on {{ticket.updated_on}}
                                </h6>
                                <p class="card-text">
                                    {{comment.comment}}

                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif%}
                    </div>

                    <!-- LEFT OFF HERE -->

                </div>
                <div class="position-relative">
                    <div class="position-absolute bottom-0 end-0"><a href="/display_tickets/${id}"
                            class="btn-sm btn-silver ms-2">Back to tickets</a></div>
                </div>
            </div>


        </div>
    </div>







    {% endblock %}